@import url('https://fonts.googleapis.com/css?family=Slackey');

body {
  margin: 0;
  padding: 0;
  font-family: 'Slackey', cursive;
  font-size: 20px;
  color: #fff;
}

* {
  box-sizing: border-box;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.content {
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

body, html, #root, .background {
  position: relative;
  height: 100%;
}

.background {
  background-color: #C42AE6;
  height: auto;
  min-height: 100%;
}

.background.is-leader {
  background-color: #F3BD34;
}

.background.is-host {
  background-color: #3466F3;
}

.trackinfo {
  padding: 10px;
  text-align: left;
  word-break: break-all;
}

.trackitem {
  border: none;
  border-bottom: 1px #fff solid;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  width: 100%;
  background: none;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
  transition: 0.3s all ease;
}

h1 {
  text-align: center;
  font-size: 52px;
  margin: 0;
}

.scores {
  margin-top: 15px;
}

.trackitem:active, .trackitem:focus {
  transform: scale(0.95);
}

.trackname{
  font-size: 18px;
}

.trackartists{
  font-size: 14px;
  opacity: 0.5;
}

.navbar {
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

label {
  margin-bottom: 10px;
}

.button {
  background-color: transparent;
  border: solid 3px white;
  color: #fff;
  font-size: 20px;
  border-radius: 7px;
  display: block;
  width: 100%;
  padding: 10px;
  margin: auto;
  max-width: 50%;
  margin-bottom: 20px;
  font-family: inherit;
}

input[type="text"], input[type="number"] {
  border: none;
  border-radius: 7px;
  padding: 15px;
  font-size: 18px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  text-shadow: none;
}

select {
  text-shadow: none;
}

.logo img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 200px;
}

h2 {
  text-align: center;
  margin-top: 0;
}

.players div {
    display: inline-block;
    padding: 20px;
}

select {
  background-color: #fff;
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 18px;
}

.lucky {
  background-color: transparent;
  border: solid 3px white;
  color: #fff;
  font-size: 15px;
  border-radius: 7px;
  display: block;
  width: 100%;
  padding: 10px;
  margin: auto;
  max-width: 50%;
  margin-bottom: 20px;
  font-family: inherit;
}

.score-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.score-name {
  font-size: 17px
}

.score-score {
  display: flex;
  min-width: 60px;
  justify-content: right
}

.score-addition {
  width: 55px
}

select {
  margin-bottom: 30px;
}

.spotify-button {
  border: 3px solid #fff;
  background: transparent;
  max-width: 200px;
  color: #fff;
  margin: auto;
  font-size: 20px;
  border-radius: 50px;
  display: block;
  width: 100%;
  padding: 6px;
  margin-bottom: 20px;
}
*:focus { outline: none; }


input.timer-input{
  display: inline-block;
  width: auto;
  margin-left: 20px;
  padding: 7px;
  text-align: right;
}

.timer-button{
  background-color: transparent;
  border: solid 3px white;
  color: #fff;
  font-size: 20px;
  border-radius: 7px;
  padding: 10px;
  margin: auto;
  max-width: 50%;
  margin-bottom: 20px;
  font-family: inherit;
  display: inline-block;
  width: auto;
  margin-left: 20px;
}